<script>
$(function(){
  app.game = new app.Models.Game(<%= raw(
    render :template  => 'games/show',
           :object    =>  @game,
           :formats   =>  [:json]) %>
  );

  app.attackBoardView = new app.Views.AttackBoardView({
    collection: app.game.turns
  });

  app.statusBoardView = new app.Views.StatusBoardView({
    collection: app.game.turns
  });

  app.game.turns.reset(<%= raw(
    render :template  => 'turns/index',
           :object    =>  @game.turns,
           :formats   =>  [:json]) %>
  );

  app.game.deployments.reset(<%= raw(
    render :template  => 'deployments/index',
           :object    =>  @game.deployments,
           :formats   =>  [:json]) %>
  );


  app.attackBoardView.render();
  app.statusBoardView.render();

  app.gameOver = new app.Views.GameOver({model: app.game});
});
</script>
<div id='container'>
  <div id="attack-board">
  </div>

  <div id="status-board">
  </div>
</div>

<div id="game-over">
</div>