<script>
$(function(){
  app.game = new app.Models.Game(<%= raw(Rabl.render(@game, 'games/show')) %>
  );

  app.attackBoardView = new app.Views.AttackBoardView({
    collection: app.game.turns
  });

  app.statusBoardView = new app.Views.StatusBoardView({
    turns: app.game.turns,
    deployments: app.game.deployments
  });

  app.game.turns.reset(<%= raw(Rabl.render(@game.turns, 'turns/index')) %>
  );

  app.game.deployments.reset(<%= raw(
    Rabl.render(@game.deployments, 'deployments/index')) %>
  );

  app.attackBoardView.render();
  app.statusBoardView.render();

  app.gameOver = new app.Views.GameOver({model: app.game});

  $(document).ajaxError( function(e, xhr, options){
   $('#error').show();
  })

});
</script>
<div id='container'>
  <div id="error">An Error has occured. Try again later</div>
  <div id="attack-board">
  </div>

  <div id="status-board">
  </div>
</div>

<div id="game-over">
</div>