{{#ships}}
  <li class="ship {{name}}">
    <h3 class="side_identifier"><a href="#" class="handle">[drag]</a> {{name}}</h3>
    <div class="controls handle">
      <a href="#" class="reorient"> turn {{shortName}}</a>
    </div>
  </li>
{{/ships}}